@use '../abstracts/variables';

.navbar {
    background-color: variables.$background-color; // Utiliza el fondo claro definido
}

.navbar-nav .nav-link {
    color: variables.$link-color; // Color de texto para los enlaces
}

.navbar-nav .nav-link:hover {
    color: variables.$link-hover-color; // Color de texto más oscuro al pasar el mouse
}

.btn-danger {
    background-color: variables.$secondary-color; // Color del botón
    border-color: variables.$secondary-color;
}

.btn-danger:hover {
    background-color: darken(variables.$secondary-color, 10%); // Color más oscuro al pasar el mouse
}
